.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: ease-out 0.2s;
}

.button_open {
  background-color: #fec107;
  cursor: pointer;
  border-radius: 15px;
  padding: 15px 30px;
  margin-bottom: 15px;
  color: #486880;
  font-size: 1.5rem;
  font-weight: bold;
}

.button_open:hover {
  background-color: #486880;
  color: #fec107;
}
/* commit */
